<tr>
  <td class="has-text-right"><%= Diagnose.human_attribute_name(:name) %></td>
  <td><%= @diagnose.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Diagnose.human_attribute_name(:actor) %></td>
  <td><%= @diagnose.actor %></td>
</tr>
