<tr>
  <td class="has-text-right"><%= Cause.human_attribute_name(:name) %></td>
  <td><%= @cause.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Cause.human_attribute_name(:type) %></td>
  <td><%= @cause.type %></td>
</tr>
