<div>
  <dt><%= Med::Cause.human_attribute_name(:name) %></dt>
  <dd><%= @cause.name %></dd>
</div>
<div>
  <dt><%= Med::Cause.human_attribute_name(:type) %></dt>
  <dd><%= @cause.type_i18n %></dd>
</div>
