<div>
  <dt><%= Med::Cause.human_atdivibute_name(:name) %></dt>
  <dd><%= @cause.name %></dd>
</div>
<div>
  <dt><%= Med::Cause.human_atdivibute_name(:type) %></dt>
  <dd><%= @cause.type %></dd>
</div>
