<div>
  <dt><%= Med::Disease.human_attribute_name(:name) %></dt>
  <dd><%= @disease.name %></dd>
</div>
<div>
  <dt><%= Med::Disease.human_attribute_name(:symptoms) %></dt>
  <dd><%= @disease.symptoms %></dd>
</div>
