<tr>
  <td class="has-text-right"><%= Med::Treat.human_attribute_name(:name) %></td>
  <td><%= @treat.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Med::Treat.human_attribute_name(:type) %></td>
  <td><%= @treat.type_i18n %></td>
</tr>
