<div>
  <dt><%= Med::Treat.human_attribute_name(:name) %></dt>
  <dd><%= @treat.name %></dd>
</div>
<div>
  <dt><%= Med::Treat.human_attribute_name(:type) %></dt>
  <dd><%= @treat.type_i18n %></dd>
</div>
