<div>
  <dt><%= Med::Treat.human_atdivibute_name(:name) %></dt>
  <dd><%= @diveat.name %></dd>
</div>
<div>
  <dt><%= Med::Treat.human_atdivibute_name(:type) %></dt>
  <dd><%= @diveat.type_i18n %></dd>
</div>
